<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.DormitoryMapper">

    <resultMap id="BaseResultMap" type="com.yu.model.entity.Dormitory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="buildingId" column="building_id" jdbcType="INTEGER"/>
            <result property="dormitoryNumber" column="dormitory_number" jdbcType="INTEGER"/>
            <result property="capacity" column="capacity" jdbcType="TINYINT"/>
            <result property="electricity" column="electricity" jdbcType="DOUBLE"/>
            <result property="water" column="water" jdbcType="DOUBLE"/>
            <result property="eStatus" column="e_status" jdbcType="TINYINT"/>
            <result property="wStatus" column="w_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,building_id,dormitory_number,
        capacity,electricity,water,
        e_status,w_status
    </sql>
    <select id="floorPage" resultType="com.yu.model.entity.Dormitory">
        select * from tb_dormitory
        <where>
            <if test="q.buildingId != null">
                and building_id = #{q.buildingId}
            </if>
            <if test="q.wStatus != null">
                and w_status = #{q.wStatus}
            </if>
            <if test="q.eStatus != null">
                and e_status = #{q.eStatus}
            </if>
            <if test="q.floor != null">
                <choose>
                    <when test="q.dormitoryNumber != null">
                        and dormitory_number = concat(#{q.floor},LPAD(#{q.dormitoryNumber}, 2, '0'))
                    </when>
                    <otherwise>
                        and dormitory_number like concat(#{q.floor},'__')
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
    <select id="getSysIdsByBuildingId" resultType="java.lang.Long" parameterType="java.lang.Long">
        select u.id
        from sys_user_role sur,sys_user u,(
        select s.id
        from (
        select id from tb_dormitory where building_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) as tdi,tb_student s
        where tdi.id = s.dormitory_id
        ) as student
        where sur.role_id = 3 and student.id = u.user_id

    </select>
</mapper>
