<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.SugTextMapper">
    <resultMap id="BaseResultMap" type="com.yu.model.entity.SugTextEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="s_id" jdbcType="INTEGER" property="sId"/>
        <result column="s_text" jdbcType="CLOB" property="sText"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `s_id`, `s_text`, `type`
    </sql>

</mapper>