<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yu.model.entity.UserEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="age" jdbcType="TINYINT" property="age"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `name`, `gender`, `phone`, `age`, `deleted`
    </sql>
    <select id="pageDormitory" resultType="com.yu.model.vo.DormitoryPageVo">
        select tb_user.*,d.build_name
        from tb_user
        left join d_building d on tb_user.type_id = d.id
        ${ew.customSqlSegment}
    </select>
    <select id="pageRepair" resultType="com.yu.model.vo.DormitoryPageVo">
        select tb_user.*, sys_dict.name
        from tb_user
                 left join sys_dict on type_code = 'maintain' and value = tb_user.type_id
        ${ew.customSqlSegment}
    </select>

</mapper>